*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*Landing Start*/
#landing{
	min-height: 100%;
	background-image: url("images/goldenrod.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#landing h1{
	font-size: 6vw;
}

#landing p{
	font-size: 3vw;
}

/*Landing End*/
/*About Start*/
#about{
	background-color:#C4FCF0;
}
/*About End*/

/*Projects Start*/
#projects{
	background-color: #659B90;
}

#projects p{
	text-align: left;
}
/*Projects End*/

/*Tools Start*/
#tools{
	background-image: url(images/pinkcloud.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*Tools End*/

/*Contact Start*/
.btn{
	background-color: #006B5E;
}

#socmed{
	max-width: 40%;
}

#gmap{
	height: 60vh;
	width:100%;
}
/*Contact End*/

/*Footer Start*/
footer{
	background-color: #BE5846;
}
/*Footer End*/